.list{
    color: #fff;
    width: 300px;
    background-color: #bf87ac;
    height: 50px;
    margin: 20px auto;
    border-radius: 5px;
}
.list p{
    padding: 18px;
    position: relative;
}
.list p span{
    position: absolute;
    right: 10px;
    cursor: pointer;
}
.faicons {
    margin: 0 5px;
    font-size: 15px;

}
.list p input {
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 18px;
}
.list p input:focus {
    outline: none;
}
h2 {
    text-align: left;
    border-radius: 12px;
    top: 12px;
    right: 12px;

}
.deleteIcon {
    float: right;
}